language: python

services: docker

env:
  global:
    - TAG=latest
    - DOCKER_REPO=mynkpl1998/a3c

script:
  - docker build -t $DOCKER_REPO:$TAG .

after_success:
  - echo "$DOCKER_USERNAME"
  - docker login -u="$DOCKER_USERNAME" -p="$DOCKER_PASSWORD"
  - docker push $DOCKER_REPO:$TAG